<nav class="navbar navbar-expand-lg  bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">El Aroma Mágico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <hr class="hr" />
</nav>
<div class="container mt-5">
  <img src="assets/granos-cafe.jpg" alt="Descripción de la imagen" class="img-fluid">
  <hr class="hr" />
</div>
<div class="container mt-5">
  <app-lista-cafes></app-lista-cafes>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5 pt-5">
        <p> Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico </p>
      </div>
    </div>
  </div>
</footer>